######################## ================ Optional Properties of Item ================ ########################
<input type="hidden" name="metadataGroup${DOT}$i" id="metadataGroup${DOT}$i" value=""/>
#if(!$item && $model)#set($item = $model)#end
#if($item && $item.metadata)
  #foreach($meta in $item.metadata)
  <p class="discTria" id="metadataShown_${meta.uuid}${DOT}${i}" style="display:none;">
    <a id="hideMetadata_${meta.uuid}${DOT}${i}" href="#"
       title="$tlang.getFormattedMessage("metadata.hide", $meta.name)">
      <img id="hideMetadataImage_${meta.uuid}${DOT}${i}" src="#imageLink("sakai/collapse.gif")"
           alt="$tlang.getFormattedMessage("metadata.hide", $meta.name)" border="0" width="13" height="13" align="top"/>
      $validator.escapeHtml($meta.name)
    </a>
  </p>
  <p class="discTria" id="metadataHidden_${meta.uuid}${DOT}${i}" style="display:block;">
    <a id="showMetadata_${meta.uuid}${DOT}${i}" href="#"
       title="$tlang.getFormattedMessage("metadata.show", $meta.name)">
      <img id="showMetadataImage_${meta.uuid}${DOT}${i}" src="#imageLink("sakai/expand.gif")"
           alt="$tlang.getFormattedMessage("metadata.show", $meta.name)" border="0" width="13" height="13" align="top"/>
      $validator.escapeHtml($meta.name)
    </a>
  </p>
  <div id="metadataDiv_${meta.uuid}${DOT}${i}" style="display:none;">
    #foreach($tag in $meta.metadataTypes)
      <p class="shorttext">
        #parse($tag.renderer.metadataValueEditTemplate)
      </p>
    #end
  </div>
  #end
#end
<script src="/library/js/jquery/1.4.2/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/library/js/jquery/chosen/0.9.7/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">$(".chzn-select").chosen();</script>
<link href="/library/js/jquery/chosen/0.9.7/chosen.css" type="text/css" rel="stylesheet" />
