<label for="$validator.escapeJavascript("$!{tag.fullname}")${DOT}$i">
  $tag.label
</label>
<input type="text" size="40"
       name="$!{tag.fullname}${DOT}$i"
       id="$validator.escapeJavascript("$!{tag.fullname}")${DOT}$i"
       value="$!tag.value"/>
