<label for="$validator.escapeJavascript("$!{tag.fullname}")${DOT}$i">
  $tag.label
</label>
<input type="hidden" name="$!{tag.fullname}${DOT}${i}" id="$validator.escapeJavascript("$!{tag.fullname}")${DOT}${i}"
       value="$!tag.value"/>
#resources_dateselectionwidget("$!{tag.fullname}" "${i}" $tag.value $dateFormat)
