#* @vtlmacrolibrary path="../resources/sakai_metadata-edit.vm" *#
#* @vtlvariable name="item" type="org.sakaiproject.content.tool.ListItem" *#
#* @vtlvariable name="site_id" type="java.lang.String" *#
#* @vtlvariable name="metadataType" type="uk.ac.ox.oucs.content.metadata.model.MetadataType" *#
#* @vtlvariable name="metadataValue" type="java.lang.Object" *#
#* @vtlvariable name="multipleMetadataType" type="java.util.List<java.lang.String>" *#
#* @vtlvariable name="groupMetadataLevel" type="int" *#
#* @vtlvariable name="groupMetadataValue" type="java.util.List<java.lang.Object>" *#
#* @vtlvariable name="groupMetadataType" type="java.util.List<uk.ac.ox.oucs.content.metadata.model.MetadataType>" *#
#* @vtlvariable name="suffix" type="java.lang.String" *#

<label for="${metadataType.uniqueName}${suffix}">
  #printMetadataName($metadataType)
</label>
<input type="hidden" name="$!{metadataType.uniqueName}${suffix}" id="${metadataType.uniqueName}${suffix}"
       value="$!metadataValue"/>
#resources_dateselectionwidget("${metadataType.uniqueName}" "${i}" $metadataValue $dateFormat)
