<label for="${tag.uuid}${DOT}$i">$tag.name</label>

<select data-placeholder="$tag.description" style="width: 350px" name="$!{tag.uuid}${DOT}${i}" id="$!{tag.uuid}${DOT}${i}" class="chzn-select">
  #foreach($value in ${tag.allowedValues})
    <option #if(false) selected #end>$value</option>
  #end
</select>
