<label for="${metadataType.uniqueName}${suffix}">$metadataType.name</label>

<select data-placeholder="$metadataType.description" style="width: 350px" name="$!{metadataType.uniqueName}${suffix}"
        id="$!{metadataType.uniqueName}${suffix}" #if($multipleMetadataType.contains($metadataType.uniqueName)) multiple #end
        class="chzn-select">
  #if(!$multipleMetadataType.contains($metadataType.uniqueName))
    <option></option>
  #end
  #foreach($value in ${metadataType.allowedValues})
    <option #if($metadataValue.equals($value) || $metadataValue.contains($value)) selected #end>$value</option>
  #end
</select>
