$groupMetadataType.add($groupMetadataLevel, $metadataType)
$groupMetadataValue.add($groupMetadataLevel, $metadataValue)

<p class="discTria" id="metadataShown_${metadataType.uuid}${suffix}" style="display:none;">
  <a id="hideMetadata_${metadataType.uuid}${suffix}" href="#"
     title="$tlang.getFormattedMessage("metadata.hide", $metadataType.name)">
    <img id="hideMetadataImage_${metadataType.uuid}${suffix}" src="#imageLink("sakai/collapse.gif")"
         alt="$tlang.getFormattedMessage("metadata.hide", $metadataType.name)" border="0" width="13" height="13"
         align="top"/>
    $validator.escapeHtml($metadataType.name)
  </a>
</p>
<p class="discTria" id="metadataHidden_${metadataType.uuid}${suffix}" style="display:block;">
  <a id="showMetadata_${metadataType.uuid}${suffix}" href="#"
     title="$tlang.getFormattedMessage("metadata.show", $metadataType.name)">
    <img id="showMetadataImage_${metadataType.uuid}${suffix}" src="#imageLink("sakai/expand.gif")"
         alt="$tlang.getFormattedMessage("metadata.show", $metadataType.name)" border="0" width="13" height="13"
         align="top"/>
    $validator.escapeHtml($metadataType.name)
  </a>
</p>
<div id="metadataDiv_${metadataType.uuid}${suffix}" style="display:none;">
  #foreach($metadataType in $groupMetadataType.get($groupMetadataLevel).metadataTypes)
    ## The #set directive is ignored if the value given evaluates to null, to avoid keeping old values
    ## an empty string is set.
    #set($metadataValue = "")
    #set($metadataValue = $groupMetadataValue.get($groupMetadataLevel).get($metadataType.uuid))
    #set($groupMetadataLevel = $groupMetadataLevel + 1)

    <p class="shorttext">
      #parse($metadataType.renderer.metadataValueEditTemplate)
    </p>

    #set($groupMetadataLevel = $groupMetadataLevel - 1)
  #end
</div>
