<label for="${metadataType.uuid}${suffix}">
  $metadata.name
</label>
<input type="text" size="40" name="${metadataType.uuid}${suffix}" id="${metadataType.uuid}${suffix}"
       value="$metadataValue"/>
