<label for="${metadataType.uuid}${DOT}$i">$metadataType.name</label>

<select data-placeholder="$metadataType.description" style="width: 350px" name="$!{metadataType.uuid}${DOT}${i}"
        id="$!{metadataType.uuid}${DOT}${i}" #if($multipleMetadataType.contains($metadataType.uuid)) multiple #end
        class="chzn-select">
  #if(!$multipleMetadataType.contains($metadataType.uuid))
    <option></option>
  #end
  #foreach($value in ${metadataType.allowedValues})
    <option #if($metadataValue.equals($value) || $metadataValue.contains($value)) selected #end>$value</option>
  #end
</select>
