<label for="${metadataType.uuid}${suffix}">$metadataType.name</label>

<select data-placeholder="$metadataType.description" style="width: 350px" name="$!{metadataType.uuid}${suffix}"
        id="$!{metadataType.uuid}${suffix}" #if($multipleMetadataType.contains($metadataType.uuid)) multiple #end
        class="chzn-select">
  #if(!$multipleMetadataType.contains($metadataType.uuid))
    <option></option>
  #end
  #foreach($week in ${metadataType.weekNames.entrySet()})
    <option value="$week.key" #if($metadataValue.equals($week.key) || $metadataValue.contains($week.key))
            selected #end>$week.value</option>
  #end
</select>
